#main_zaglawie{
	text-align: center;
	color:green;
}
p{
	color:blue;
}
#id_option{
	margin:100px;
	background-color:black;
}
a{
	text-decoration:none;
	color:green;
}
table{
	border: 1px solid black;
	background-color:black;
}
body{

	background-image:url("main.jpg");	
	
	height: 900px;
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	position:relative;
}
#table_rights{
	 
	border: 5px solid black; 
	margin-top:650px;
	background-color:#cccccc;
}
